@import '../../styles/_variables.scss';

.container {
  max-width: 1200px;
  &::after{
    content: "";
    top: 0px;
    right: -100px;
    height: 500px;
    width: 500px;
    position: absolute;
    background:  $primary-gradient;
    opacity: 0.9;
    border-radius: 50%;
    filter: blur(200px);
    z-index: -1;
  }
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(255, 255, 255, 0.03);

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .card-title input {
    font-weight: bold;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    transition: border-color 0.3s;
  }

  .btn-primary {
    background:$primary-gradient;
    border: none;

    &:hover {
      background:$primary-gradient;
    }
  }
}

form {
  .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;

    &:focus {
      border: 1px solid rgba(0, 183, 255,0.5);
      box-shadow: none;
    }
  }

  button {
    font-weight: bold;
    border: none;
    background: $primary-gradient;
    box-shadow: $box-shadow-soft;
  }
}
