<div class="home">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="glass-box p-4 rounded-5">
                <h1>Bienvenido a la App de Contactos</h1>
                <p>Administra tus contactos fácilmente.</p>
                <div class="alert alert-info">
                    Las tecnologías utilizadas para el desarrollo del proyecto son <span class="badge text-bg-danger">Angular</span> <span class="badge text-bg-info">Scss</span> como preprocesador de Css.
                </div>
            </div>
        </div>
    </div>
</div>

